<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container">
    <div class="row">
        <h1> List Students </h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/api/students/save/page}" class="btn btn-primary btn-sm mb-3"> Add Student</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/login}" class="btn btn-primary btn-sm mb-3"> Register</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Student id</th>
            <th> Student Name</th>
            <th> Student Email</th>
            <th> Student Password</th>
            <th>Student Update</th>
            <th>Student Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student : ${allStudents}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.password}"></td>
            <td>
                <a class="btn btn-outline-primary" href="#offcanvasExample" role="button"
                   th:href="@{'/api/students/update/' + ${student.id}}">Update
                </a>
            </td>
            <td>
                <a th:href="@{'/api/students/delete/' + ${student.id}}">
                    <button class="btn btn-primary">delete</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>
