<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <style>
        h1 {
            color: blue;
            text-align: center;
        }

    </style>
</head>
<body>
<header>
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Heading</h1>
                    <h4 class="mb-3">Subheading</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                    >Call to action</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
<div style="color: black" align="center">
    <a th:href="@{/api/students/save/page}">
        <button style="color:black " th:align="center" th:background="center" type="submit" >register</button>
    </a>
</div>
</body>
</html>